{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-social-profiles{% endblock %}

{% block head_title %}{% trans "Social Profiles" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <legend>{% trans "Social Profiles" %}</legend>
            <a class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Link your Facebook Account
            </a>
            <a class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Link your Twitter Account
            </a>
            <a class="btn btn-block btn-social btn-instagram">
                <span class="fa fa-instagram"></span> Link your Instagram Account
            </a>
            <a class="btn btn-block btn-social btn-linkedin">
                <span class="fa fa-linkedin"></span> Link your Linkedin Account
            </a>
            <a class="btn btn-block btn-social btn-pinterest">
                <span class="fa fa-pinterest"></span> Link your Pintrest Account
            </a>
            <a class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Link your Google+ Account
            </a>
        </div>
    </div>
{% endblock %}